@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&family=Bungee&family=Dancing+Script&family=Fasthand&family=Island+Moments&family=Josefin+Sans:wght@100&family=Michroma&family=Playfair+Display&family=Quicksand:wght@300&family=Roboto:wght@100&family=Rubik:wght@400;500;600;700&family=Russo+One&family=Shalimar&family=Ubuntu:wght@300&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}